body {
  margin: 0;
}

header {
  padding: 10px;
  background-color: skyblue;
  border-bottom: solid 4px black;
}

h1,
h3 {
  font-family: "Alfa Slab One";
  margin-top: 10px;
}

.title {
  margin: 10px;
}

header p {
  font-family:"Merriweather";
  font-size: 24px;
}

form {
  padding: 5px;
} 

label,
input,
button {
  margin-bottom: 10px;
}

.new-search{
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.search-history {
  border-top: solid black 4px;
  padding: 30px;
  align-items: center;
}

#todays-weather,
#five-day-forecast {
  border: 3px solid black;
  margin: 10px;
  padding: 20px;
  margin-right: 50px;
}

.green {
  background-color: green;
  width: 130px;
  border-radius: 5px;
}

.yellow {
  background-color: yellow;
  width: 130px;
  border-radius: 5px;
}

.orange {
  background-color: orange;
  width: 130px;
  border-radius: 5px;
}

.red {
  background-color: red;
  width: 130px;
  border-radius: 5px;
}

.purple {
  background-color: purple;
  width: 130px;
  border-radius: 5px;
}



